


    <!-------------------------------- MAIN ----------------------------------->
    <main>
        <div class="container">
            <!----------------- MIDDLE -------------------->
            <div class="middle">
                <form action="post.php" method="post" >
                    <div class="createPost">

                    <h3 class="mini-headign">Create Post</h3>
                    <div class="post-text">
                        <img src="/assets/images/profile-1.jpg" alt="user">
                        <input type="text-area" placeholder="What's on your mind, zahidul" name="description">
                    </div>
    
                    <div class="post-icon">
                        <div class="flex">
                             <a href="#" style="background: #ffebed;">
                                <i style="background: #ff4154;" class="fa-solid fa-camera"></i>
                                Gallery</a>
                                <label for="file-upload" class="custom-file-input">
                                    <i class="fa-solid fa-camera"></i>
                                    Gallery
                                    <input type="file" id="file-upload" accept="image/*" multiple style="display: none;">
                                </label>                             
                        <input type="submit" value="Post" class="btn btn-primary" ></div></div>
                        </div>
                </form>
                       
                    
    
               
                <!----------------- FEEDS -------------------->
                <div class="feeds">
                    <!----------------- FEED 1 -------------------->
                    <div class="feed">
                    <h3 class="mini-headign" style="padding-bottom: 29px;">Your profile</h3>

                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="/assets/images/profile-13.jpg">
                                </div>
                                <div class="info">
                                    <h3>Lana Rose</h3>
                                    <small>Dubai, 15 Minutes Ago</small>
                                </div>
                            </div>
                            <span class="edit">
                                <i class="uil uil-ellipsis-h"></i>
                            </span>
                        </div>

                        <div class="photo">
                            <img src="/assets/images/feed-1.jpg">
                        </div>

                        <div class="action-buttons">
                            <div class="interaction-buttons">
                                <span><i class="uil uil-heart"></i></span>
                                <span><i class="uil uil-comment-dots"></i></span>
                                <span><i class="uil uil-share-alt"></i></span>
                            </div>
                            <div class="bookmark">
                                <span><i class="uil uil-bookmark-full"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="/assets/images/profile-10.jpg"></span>
                            <span><img src="/assets/images/profile-4.jpg"></span>
                            <span><img src="/assets/images/profile-15.jpg"></span>
                            <p>Liked by <b>Ernest Achiever</b> and <b>2, 323 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>Lana Rose</b> Lorem ipsum dolor sit quisquam eius. 
                            <span class="harsh-tag">#lifestyle</span></p>
                        </div>

                        <div class="comments text-muted">
                            View all 277 comments
                        </div>
                    </div>
                                
                    <!----------------- END OF FEEDS -------------------->
        
                    <!----------------- END OF MIDDLE -------------------->
                     </div>
                     </div>
                 <!----------------- RIGHT -------------------->
                 

           
                
