


    <!-------------------------------- MAIN ----------------------------------->
    <main>
        <div class="container">
            <!----------------- MIDDLE -------------------->
            <div class="middle">
                <form action="post.php" method="post">
                    <div class="createPost" *ngIf="isEnseingnat">

                    <h3 class="mini-headign">Create Post</h3>
                    <div class="post-text">
                        <img src="/assets/images/profile-1.jpg" alt="user">
                        <input type="text-area" placeholder="What's on your mind, zahidul" name="description">
                    </div>
    
                    <div class="post-icon">
                        <div class="flex">
                             <a href="#" style="background: #ffebed;">
                                <i style="background: #ff4154;" class="fa-solid fa-camera"></i>
                                Gallery</a>
                                <label for="file-upload" class="custom-file-input">
                                    <i class="fa-solid fa-camera"></i>
                                    Gallery
                                    <input type="file" id="file-upload" accept="image/*" multiple style="display: none;">
                                </label>                             
                        <input type="submit" value="Post" class="btn btn-primary" ></div></div>
                        </div>
                </form>
                       
                    
    
               
                <!----------------- FEEDS -------------------->
                <div class="feeds">
                    

                    <!----------------- FEED 1 -------------------->
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="/assets/images/profile-13.jpg">
                                </div>
                                <div class="info">
                                    <h3>Semia Semia</h3>
                                    <small>One hour Ago</small>
                                </div>
                            </div>
                            <span class="edit">
                                <i class="uil uil-ellipsis-h"></i>
                            </span>
                        </div>

                        <!-- <div class="photo">
                            <img src="/assets/images/feed-1.jpg">
                        </div> -->
                        <div class="caption" style="padding: 30px;">
                            <p> We have an online session tomorrow at 8pm!! Be there </p>
                        </div>
                        <div class="action-buttons">
                            <div class="interaction-buttons">
                                <span><i class="uil uil-heart"></i></span>
                                <span><i class="uil uil-comment-dots"></i></span>
                                <span><i class="uil uil-share-alt"></i></span>
                            </div>
                           
                        </div>
                        

                      
<!-- 
                        <div class="comments text-muted">
                            View all 277 comments
                        </div> -->
                    </div>
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="/assets/images/profile-8.jpg">
                                </div>
                                <div class="info">
                                    <h3>Mohamed</h3>
                                    <small>Five hour ago</small>
                                </div>
                            </div>
                            <span class="edit">
                                <i class="uil uil-ellipsis-h"></i>
                            </span>
                        </div>

                        <div class="photo">
                            <img src="/assets/images/exercices.png">
                        </div>
                        <div class="caption" style="padding: 30px;">
                            <p> Try to finish this tp before our session tomorow</p>
                        </div>
                        <div class="action-buttons">
                            <div class="interaction-buttons">
                                <span><i class="uil uil-heart"></i></span>
                                <span><i class="uil uil-comment-dots"></i></span>
                                <span><i class="uil uil-share-alt"></i></span>
                            </div>
                           
                        </div>
                        

                      
<!-- 
                        <div class="comments text-muted">
                            View all 277 comments
                        </div> -->
                    </div>
                    </div>
                    <!----------------- END OF FEEDS -------------------->
        
                    <!----------------- END OF MIDDLE -------------------->
                        </div>
                        <div class="right" style="width: 200px; position:relative;top:20px">
                            <app-calendrier></app-calendrier>
                        </div>
                </div>
            
            
            <!----------------- END OF RIGHT -------------------->
        
       
    </main>

   
    
