<nav>
    <div class="container">
        <h2 class="logo" style="font-size:20px">
            IsetchFace
        </h2>
        <div class="search-bar">
            <i class="uil uil-search"></i>

            <input type="search" placeholder="Search....">
        </div>
        <div class="create">
            <div class="profile-photo">
                <img src="/assets/images/profile-1.jpg" alt="">
            </div>
            <label class="btn btn-primary" for="create-post">LogOut</label>
            
        </div>
        
    </div>
</nav>